 
.content--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;      background-color: #f8f9fa; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    border-radius: 8px;  
  }
  
  .header--title {
    color: #27374d;  
    font-size: 1.5rem; 
    font-weight: 600;
  }
  
  .header--activity {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .search-box {
    background: #e9ecef;  
    padding: 8px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
  }
  
  .search-box input {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-size: 1rem;  
    color: #495057;  
  }
  
  .search-box .icon {
    color: #6c757d;  
    font-size: 1.25rem;  
    cursor: pointer;
    transition: transform 0.3s ease-in-out;  
  }
  
  .logout {
    
    padding-left: 20px;
  } */
  
   .logout .item {
    color:  #1b2a3e;
  }
  
  .logout .item:hover {
    background: #1b2a3e;
    color: #dde6ed;
  }
  
  @media (max-width: 768px) {
    .header--activity {
      flex-direction: column;
      gap: 10px;
    }
  }
 