.enrolled-courses-section {
    margin-bottom: 40px;
  }
  
  .enrolled-course-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .enrolled-course-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .enrolled-course-title {
    font-size: 1.5em;
  }
  
  .enrolled-course-description {
    font-size: 1em;
  }
  
  .enrolled-course-link {
    margin-top: 10px;
    display: inline-block;
    color: #007bff;
    text-decoration: none;
  }
  
  .enrolled-course-link:hover {
    text-decoration: underline;
  }
  