 .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    background-color: #f0f0f0;
    margin: 0 auto;  
    max-width: 400px;  
    padding: 20px; 
    box-sizing: border-box;  
    
}

.login-container h2 {
    margin-bottom: 20px;  
}

.login-container .form-group {
    margin-bottom: 15px;  
}

.login-container .form-group label {
    display: block;
    margin-bottom: 5px;  
}

.login-container .form-group input {
    padding: 10px;
    width: 100%;  
    box-sizing: border-box;  
}

.login-container button {
    padding: 10px 20px;  
    background-color: #007bff;  
    color: white;  
    border: none;  
    cursor: pointer;  
}

.login-container button:hover {
    background-color: #0056b3;  
}
