 
   .logo {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .logo-icon {
    font-size: 2rem;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
  }

  .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    
  }
  
  .user-name {
    font-size: 1.2rem;
  }  
  
   
  .menu--list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
  }
  
  .menu--list .item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;  
    color: #dde6ed;  
  }
  
  .menu--list .item:hover,
  .menu--list .item.active {
    background: #1b2a3e; 
    color: #dde6ed; 
  }
  
  .icon {
    font-size: 1.5rem; 
  } 
   
   
  @media (max-height: 768px) {
    .menu {
      height: calc(100vh - 80px);  
    }
  }

   